<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>artco</title>
    <link rel="shortcut icon" th:href="@{~/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{~/js/bootstrap/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{~/css/index.css}">
    <script th:src="@{~/js/jquery/dist/jquery.js}"></script>
    <script th:src="@{~/js/bootstrap/dist/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{~/css/login/login.css}">
    <script th:src="@{~/layui/layui.js}"></script>


</head>
<div>

    OKK
</div>
<body>



</body>
</html>
